<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="/javascripts/db.js"></script>
<body onload="showtb('artist')">
	<div>
		<div class="btn-group">
			<button type="button" class="btn btn-primary" onclick="showtb('artist')">Artist</button>
			<button type="button" class="btn btn-primary" onclick="showtb('album')">Album</button>
			<button type="button" class="btn btn-primary" onclick="showtb('track')">Track</button>
		</div>
	</div>
	<div>
		Cards
	</div>
	<div>
		<div id="dbs">
			<div>
			</div>
			<body>