<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="/javascripts/db.js"></script>

<style>
.sidenav {
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #365192;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
</style>

<body onload="showtb('artist')">
	<div class="sidenav btn-group row">
			<button type="button" class="col-md-12 btn btn-primary" onclick="showtb('artist')">Artist</button>
			<button type="button" class="col-md-12 btn btn-primary" onclick="showtb('album')">Album</button>
			<button type="button" class="col-md-12 btn btn-primary" onclick="showtb('track')">Track</button>
		</div>
	<div class="main row">
		
		<div class="col-md-8">
			<div id="dbs">
			</div>
		</div>
	</div>
	
	<body>